<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <title>Twitter</title>
 <link rel="stylesheet" href="normalize.css">
 <link rel="stylesheet" href="tweeterstyle.css">
</head>
<body>
 <section class="main-header">
  <img src="<%= asset_path "shiba.jpg" %>">
 </section>
 <section class="twitter">
  <h1>Twitter風アプリ</h1>
  <p>
   このページは練習用に作成された、教材用アプリです。<br>
  </p>
 </section>
</body>
</html>